@font-face {
	font-family: 'Nexa Rust';
	src: url('/font/NexaRustSlab-BlackShadow01-Free-webfont.eot');
	src: url('/font/NexaRustSlab-BlackShadow01-Free-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/font/NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
		 url('/font/NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff'),
		 url('/font/NexaRustSlab-BlackShadow01-Free-webfont.ttf') format('truetype'),
		 url('/font/NexaRustSlab-BlackShadow01-Free-webfont.svg#nexa_rust_slabblack_shadow_01') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/font/icomoon.eot?40ctev');
  src:  url('/font/icomoon.eot?40ctev#iefix') format('embedded-opentype'),
    url('/font/icomoon.ttf?40ctev') format('truetype'),
    url('/font/icomoon.woff?40ctev') format('woff'),
    url('/font/icomoon.svg?40ctev#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon, [class^="icon-"], [class*=" icon-"] {
  display: inline-block;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-recorded:before {
  content: "\e914";
}
.icon-channel:before {
  content: "\e91c";
}
.icon-download:before {
  content: "\e960";
}
.icon-users:before {
  content: "\e972";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-off:before {
  content: "\e9b7";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-filter:before {
  content: "\ea5b";
}

