input, select, textarea, button {
	font-family: $headingFont;
	border: 2px dotted $primaryColor;
	padding: 0.5rem 0.25rem;
	transition: border-style 0.4s ease;
	vertical-align: middle;

	&:focus {
		border-style: dashed;
		outline: none;
	}
}

button {
	cursor: pointer;
	color: $primaryColor;
	background-color: $secondaryColor;
	padding: 0.75rem;
	font-size: 1.5rem;
	line-height: 1;
	transition: 0.3s color ease, 0.3s background-color ease;

	&:hover {
		background-color: $primaryColor;
		color: $secondaryColor;
	}
}

.switch {
	vertical-align: middle;
	display: inline-block;
	position: relative;

	.icon {
		font-size: 1.5rem;
		border: 2px dotted $primaryColor;
		color: $primaryColor;
		background-color: white;
		padding: 0.4rem;
	}

	input {
		display: none;

		&:checked + .icon {
			background-color: $primaryColor;
			color: white;
		}
	}
}

.switch, button {

	&.strike {

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 2px;
			background-color: $primaryColor;
			border: 1px solid white;
			transform: rotate(45deg) translateX(20%);
			transform-origin: 0 0;
			border-radius: 2px;
			color: currentColor;
		}
	}
}
