input, select, textarea {
	font-family: $headingFont;
	border: 2px dotted $primaryColor;
	padding: 0.5rem 0.25rem;
	transition: border-style 0.4s ease;
	vertical-align: middle;

	&:focus {
		border-style: dashed;
		outline: none;
	}
}

.switch {
	vertical-align: middle;
	display: inline-block;

	.icon {
		font-size: 1.5rem;
		border: 2px dotted $primaryColor;
		color: $primaryColor;
		background-color: white;
		padding: 0.4rem;
	}

	input {
		display: none;

		&:checked + .icon {
			background-color: $primaryColor;
			color: white;
		}
	}
}
