$mediaPictureSize: 2rem;

.media {
	background-color: white;
	color: $primaryColor;
	padding: $spacing;
	box-shadow: $defaultCardShadow;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	transform: none;
	transition: transform 0.2s ease, box-shadow 0.2s ease;

	&:before {
		@extend .icon;
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 12em;
		color: rgba($primaryColor, 0.1);
	}

	&.channel:before {
		@extend .icon-channel:before;
	}

	&.recorded:before {
		@extend .icon-recorded:before;
	}

	&.channel:not(.is-live) {
		opacity: 0.75;

		&:before {
			@extend .icon-off:before;
		}
	}

	&:hover {
		transform: translateX(-0.2rem) translateY(-0.2rem);
		box-shadow: $raisedCardShadow;
	}

	.title {
		text-align: right;
	}

	.description {
		display: none;
	}

	.picture {
		width: $mediaPictureSize;
		height: $mediaPictureSize;
		border: 1px solid $primaryColor;
	}

	.viewers {
		position: absolute;
		top: $spacing;
		right: $spacing;
		margin: 0;
		line-height: $mediaPictureSize;
	}

	.location {
		margin: 0;
		text-align: left;
		position: absolute;
		top: $spacing;
		right: $spacing * 4.5;
		left: $spacing + $mediaPictureSize + $half-spacing;
		line-height: $mediaPictureSize / 2;
		font-size: 0.9rem;

		> span {
			display: block;
			@extend %ellipsis;
		}
	}

	.labels {
		@extend %unstyled-list;
		text-align: right;

		.label {
			margin-bottom: 0.25rem;
		}
	}
}

.medialist {
	margin: 0 $half-spacing $spacing ($spacing * 2 - $half-spacing);

	.list {
		@extend %unstyled-list;
		display: flex;
		flex-flow: row wrap;
		padding: $half-spacing;

		> li {
			margin: $half-spacing;
			flex: 0 0 auto;
			width: calc(25% - #{$spacing});
			transition: width 0.2s ease;

			@include media('<huge') {
				width: calc(33.33% - #{$spacing});
			}

			@include media('<desktop') {
				width: calc(50% - #{$spacing});
			}

			@include media('<tablet') {
				width: calc(100% - #{$spacing});
			}
		}
	}

}
