$primaryColor: #042f40;
$secondaryColor: #fef858;
$bodyBgColor: #9bff69;

$textFont: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
$headingFont: 'Nexa Rust';

$spacing: 1.5rem;
$half-spacing: $spacing / 2;

$defaultCardShadow: 0.25rem 0.25rem 0.75rem 0.1rem rgba(black, 0.2);
$raisedCardShadow: 0.45rem 0.45rem 0.75rem 0.1rem rgba(black, 0.2);

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	laptop: 1024px,
	desktop: 1200px,
	huge: 1600px
);
