$primaryColor: #042f40;
$bodyBgColor: #9bff69;

$textFont: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
$headingFont: 'Nexa Rust';

$spacing: 1.5rem;
$half-spacing: $spacing / 2;
